<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./javascript/app.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate repudiandae itaque quas eaque cumque
            ipsum natus velit id! Totam neque cupiditate nisi, fugit sint quidem distinctio consequatur perferendis at
            minus?</span>
    </div>

    {{>footer}}
</body>

</html>